@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:#232323;
}



#logo {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(27, 27, 27);
}

#subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(27, 27, 27);
    align-self: flex-start;
    margin-left: 2%;
}

#logo {
    text-align: left;
    margin-left: 2%;
}
/*navigation links*/

#navigation {
    align-self: flex-end;
}

#menu {
    
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}
#menu a {
    text-decoration: none;
    color: rgb(27, 27, 27);
}

#menu a:hover {

    border-bottom: 1px solid #f56607;
    color: #f56607;

}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}


.showcase {
    width: 100%;
    position: absolute;
    top: 3%;
    left: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #394149;
    z-index: 2;
    flex-direction: column;
}


#logo {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(27, 27, 27);
}

#subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(27, 27, 27);
    align-self: flex-start;
    margin-left: 2%;
}

/* Content of the home page*/

#logo {
    text-align: left;
    margin-left: 2%;
}
.content {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}
.short-intro {
    align-self: center;
    background-color: #ffffff9c;
    width: 45%;
    padding: 16px;
    border-radius: 20px;
    margin-top: 100px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: black;
    border: 1px solid #bbbbbb;
    box-shadow: 7px 10px 22px -1px rgb(0 0 0 / 24%);

}

.short-intro p {
    font-size: small;
    font-weight: 600;
    text-shadow: 0px 0px 6px white;
}

#start-btn {    
    align-self: center;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 14px;
    cursor: pointer;
    font-weight: 500;
    background-color: #f8f8f891;
    border: 1px solid #bbbbbb;
}

#start-btn:hover {
    background-color: #f2f2f291;
    color: #f56607;
}

/* footer and social media links*/

footer {
    position:absolute;
    bottom: 0px;
    left: 0px;
    max-height: 10%;
    width: 100%;
}

.social-networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5px;
    color: #3a3a3a
}

.social-networks li {
    margin: 3px;
}

.social-networks li::marker {
    content: none;
}

.copyright {
    font-size: smaller;
    color: #3a3a3a
}


